@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

.App {
  margin: 0;
  padding: 0;
  background-color: #2082dd;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Neucha";
}

.header {
  text-align: center;
  font-size: 40px;
  color: #fafafa;
  text-transform: uppercase;
  z-index: 1;
}

.input {
  display: flex;
  width: 90%;
  position: relative;
  align-items: center;
}

.input__box {
  width: 100%;
  border-radius: 50px;
  padding: 20px 25px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
}

.input__box:focus {
  box-shadow: 0 0 10px 1000px #1b70be;
  outline: none;
}
.input__button {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 12px;
  border-radius: 50px;
  right: 0px;
  border: none;
  font-size: 15px;
  color: #fafafa;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
  background-color: #2082dd;
}

.taskList {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 90%;
}

.singleTask {
  background-color: bisque;
  width: 25%;
  padding: 20px;
  border-radius: 5px;
  margin-top: 15px;
}
